* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.page-actions-cont {
    height: 3rem;
    background-color: #218c74;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}

.page-action{
    margin: 0.5rem;
    color: #f1f2f6;
}

.cellprop-actions-cont{
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.cellprop-actions-cont > * {
    display: inline-block;
    margin-right: 1rem;
}

.cellprop-actions-cont > select {
    border: none;
    border-radius: 2px;
    outline: none;
}

.font-family-prop {
    padding: 0.2rem;
}

.font-size-prop {
    padding: 0.2rem;
}

.formula-actions-cont{
    height: 2rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.formula-actions-cont > * {
    display: inline-block;
    margin-right: 0.7rem;
}

.formula-actions-cont > input {
    border: none;
    outline: none;
    height: 70%;
}

.address-bar {
    width: 5rem;
}

.formula-icon {
    width: 1.2rem;
}

.formula-bar {
    width: calc( 100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
}

.sheet-actions-cont{
    height: 3rem;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1;
    background-color: #ecf0f1;
}

.sheet-actions-cont > *{
    display: inline-block;
}

.sheet-add-icon {
    width: 2vw;
}

.sheets-folder-cont {
    display: flex;
    align-items: center;
    height: 80%;
    width: 5rem;
    width: calc( 100vw - 2vw );
}

.sheet-folder {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.9rem;
}

.grid-cont{
    height: calc( 100vh - 3rem - 3rem - 2rem - 3rem );
}